body {
    background-color:#ffffff;
    background-repeat:no-repeat;
    background-position:top left;
    background-attachment:fixed;
}

button {
  background-color: #04b0e0; /* Blue */
  border: none;
  border-radius: 12 px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: Helvetica;
  cursor:pointer;
}

p {
  padding: 8px;
  margin: 25px;

  /* other styling */
  background-color: #33475b;
  border-radius: 10px;
  color: white;
  font-family: Avenir;
  text-align:center;
  width: 592px;
  font-family: Helvetica;
}

yt-button {
  background-color: #e62017;
  border: none;
  border-radius: 12 px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: Helvetica;
  cursor:pointer;
}